---
layout: page
title: Courses
permalink: /courses/
active: True
---

<!--==========================
Intro Section
============================-->
<section id="intro" class="clearfix">
<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <div class="col-md-12 intro-info">
        <h2>Security Training <span>Courses</span></h2>
        <h4>Learn modern defensive design patterns to secure your programs</h4>
    </div>


  </div>

</div>
</section><!-- #intro -->

<main id="main">
<!--==========================
  Features Section
============================-->
<section id="features">
    <header class="section-header">
      <h3>Features</h3>
      <p></p>
    </header>


  <div class="container">

    <div class="row feature-item">
      <div class="col-lg-6 wow fadeInUp">
        <img src="/img/courses/instructor-led.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <h4>Qualified instructors</h4>
        <p>
            Security is complex but it is easy when you learn
            from seasoned security professionals with years of 
            industry experience and academic lecturing qualification. 
            They tailor the course to your knowledge level.
        </p>
      </div>
    </div>

    <div class="row feature-item mt-5 pt-5">
      <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
        <img src="/img/courses/practical-labs.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
        <h4>Practical labs</h4>
        <p>
            Step-by-step practical exercises to let you
            master every topic. You never stuck because
            your instructor will guide you through each step.
        </p>
      </div>
    </div>

    <div class="row feature-item mt-5 pt-5">
      <div class="col-lg-6 wow fadeInUp">
        <img src="/img/courses/real-world.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <h4>Real world stories</h4>
        <p>
            Course examples and labs are based on real-world
            security issues. Topics that matter today and you should know
            about them.
        </p>
      </div>
    </div>

    <div class="row feature-item mt-5 pt-5">
      <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
        <img src="/img/courses/standards.jpg" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
        <h4>Defensive design pattern</h4>
        <p>
            Bake defensive design patterns and secure programming
            principles in you code so you program is immune to the
            current and future vulnerabilities.
        </p>
        <p>
            The course content has been through numerous
            feedback cycle and aligned with industry standards:
            OWASP ASVS, NIST, PCI DSS and more.
        </p>
      </div>
    </div>

    <div class="row feature-item mt-5 pt-5">
      <div class="col-lg-6 wow fadeInUp">
        <img src="/img/courses/extra-support.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
        <h4>Extra support and Q&A</h4>
        <p>
            Thirsty to learn more? At the end of the course you get access
            to extra resources. You can also chat with your
            instructor at our private Slack group.
        </p>
      </div>
    </div>

    <div class="row feature-item mt-5 pt-5">
      <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
        <img src="/img/courses/certificate.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
        <h4>Get certified!</h4>
        <p>
            You will receive a training certificate digitally signed
            by your instructor and backed by Blockchain!
        </p>
      </div>
    </div>

  </div>
</section><!-- #about -->




<!--==========================
  Courses Section
============================-->
<section id="courses">
  <div class="container">
    <header class="section-header">
        <h3>Courses & Workshops</h3>
    </header>

    <ul id="courses-list" class="wow fadeInUp">
      <li>
        <a data-toggle="collapse" class="collapsed" href="#faq1">
            <span class="fab fa-java fa-fw"></span>
            Defensive Programming in Java
            <i class="ion-android-remove"></i></a>
        <div id="faq1" class="collapse" data-parent="#courses-list">
          <div class="row">
            <div class="col-md-7">
              <h5>tl;dr</h5>
              <p>
                  Learn defensive design patterns and best-practices
                  to write a secure program that can withstand
                  security attacks.
                  Practice implementing defensive principles against
                  modern security bugs.
                  Master how to patch each security bug and
                  write security tests so the bug never happen again.
              </p>
              <p>
                  The course will follow a non-traditional approach to 
                  security by exploring modern secure design patterns that
                  if they are implemented correctly, they make the program 
                  resilient against today's advanced attacks.
              </p>
              <h5>For who</h5>
              <p>
                  Java developers, software testers, and other
                  software engineers
              </p>
              <p>
                  <strong>Duration: </strong> 1-2 days
              </p>
              <p>
              <a href="#faq" class="btn btn-primary" role="button">Register</a>
              </p>
            </div>
            <div class="col-md-5">
              <h5>Syllabus</h5>
              <ol>
                  <li>Hello, World!: security assessment fundamentals</li>
                  <li>The Art of War: four facts</li>
                  <li>Know your enemy: a hacker mindset</li>
                  <ol>
                      <li>Challenge assumptions</li>
                      <li>Five threat actors</li>
                      <li>Explore the program context</li>
                      <li>Stress test the generic primitives</li>
                      <li>and more</li>
                  </ol>
                  <li>Know yourself: seven defensive principles</li>
                  <ol>
                      <li>Domain primitives</li>
                      <li>Immutable</li>
                      <li>Context-aware validation</li>
                      <li>and more</li>
                  </ol>
                  <li>Defensive programming against modern vulnerabilities:</li>
                  <ol>
                      <li>Second-order bugs</li>
                      <li>Mass assignments</li>
                      <li>HTTP Parameters Pollution</li>
                      <li>Unicode vulnerabilities</li>
                      <li>and more</li>
                  </ol>
                  <li>Write secure components:</li>
                  <ol>
                      <li>Secure login and logout</li>
                      <li>Secure HTTP headers</li>
                      <li>and more</li>
                  </ol>
                  <li>Wrap-up: hacking game</li>
              </ol>
            </div>
          </div>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq2" class="collapsed">
            <span class="fab fa-microsoft fa-fw"></span>
            Defensive Programming in C#
            <i class="ion-android-remove"></i></a>
        <div id="faq2" class="collapse" data-parent="#courses-list">
          <div class="row">
            <div class="col-md-7">
              <h5>tl;dr</h5>
              <p>
                  Learn a new approach to secure programming by
                  focusing on defensive design patterns.
                  Put defense-in-depth, least privilege, traceability
                  and many other security principles in action.
                  Learn security controls required to build
                  robust and hardened C# programs.
              </p>
              <p>
                  The course will cover trending security bugs as
                  well as C# language specific security issues.
                  Every topic comes with a hands-on lab and
                  instructor-led step by step walk-through.
              </p>
              <h5>For who</h5>
              <p>
                  .NET developers, software testers, and 
                  penetration testers
              </p>
              <p>
                  <strong>Duration: </strong> 1-2 days
              </p>
              <a href="#faq" class="btn btn-primary" role="button">Register</a>
            </div>
            <div class="col-md-5">
              <h5>Syllabus</h5>
              <ol>
                  <li>Hello, World!: security assessment fundamentals</li>
                  <li>The Art of War: four facts</li>
                  <li>Know your enemy: a hacker mindset</li>
                  <ol>
                      <li>Challenge assumptions</li>
                      <li>Five threat actors</li>
                      <li>Explore the program context</li>
                      <li>Stress test the generic primitives</li>
                      <li>and more</li>
                  </ol>
                  <li>Know yourself: seven defensive principles</li>
                  <ol>
                      <li>Domain primitives</li>
                      <li>Immutable</li>
                      <li>Context-aware validation</li>
                      <li>and more</li>
                  </ol>
                  <li>Defensive programming against modern vulnerabilities:</li>
                  <ol>
                      <li>Unicode vulnerabilities</li>
                      <li>Mass assignments</li>
                      <li>Second-order bugs</li>
                      <li>Server-Side Template Injection</li>
                      <li>and more</li>
                  </ol>
                  <li>Write secure components:</li>
                  <ol>
                      <li>Secure token generation</li>
                      <li>Secure file handling</li>
                  </ol>
                  <li>Wrap-up: hacking game</li>
              </ol>
            </div>
          </div>

        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq3" class="collapsed">

            <span class="fab fa-node-js fa-fw"></span>
            Defensive Programming in NodeJS
            <i class="ion-android-remove"></i></a>
        <div id="faq3" class="collapse" data-parent="#courses-list">

          <div class="row">
            <div class="col-md-7">
              <h5>tl;dr</h5>
              <p>
                  From embedded systems to mobile applications
                  JavaScript has become a programming language
                  in every environment.
                  This has opened up JavaScript programs
                  to several new security issues
                  that you will learn in this course.
              </p>
              <p>
                  The course will cover trending security bugs as
                  well as NodeJS specific security issues.
                  You will also learn what security checks you need
                  to put in place to secure various parts of
                  NodeJS programs.
              </p>
              <h5>For who</h5>
              <p>
                  JavaScript developers, software testers, and
                  penetration testers
              </p>
              <p>
                  <strong>Duration: </strong> 1-2 days
              </p>
              <a href="#faq" class="btn btn-primary" role="button">Register</a>
            </div>
            <div class="col-md-5">
              <h5>Syllabus</h5>
              <ol>
                  <li>Hello, World!: security assessment fundamentals</li>
                  <li>The Art of War: four facts</li>
                  <li>Know your enemy: a hacker mindset</li>
                  <ol>
                      <li>Challenge assumptions</li>
                      <li>Five threat actors</li>
                      <li>Explore the program context</li>
                      <li>Stress test the generic primitives</li>
                      <li>and more</li>
                  </ol>
                  <li>Know yourself: seven defensive principles</li>
                  <ol>
                      <li>Domain primitives</li>
                      <li>Immutable</li>
                      <li>Context-aware validation</li>
                      <li>and more</li>
                  </ol>
                  <li>Defensive programming against modern vulnerabilities:</li>
                  <ol>
                      <li>Memory disclosures</li>
                      <li>Regular Expression Denial of Service</li>
                      <li>Second-order bugs</li>
                      <li>Unicode vulnerabilities</li>
                      <li>and more</li>
                  </ol>
                  <li>Write secure programs</li>
                  <ol>
                      <li>Secure file handling</li>
                      <li>Secure token generation</li>
                  </ol>
                  <li>Wrap-up: hacking game</li>
              </ol>
            </div>
          </div>

        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq4" class="collapsed">

            <span class="fab fa-docker"></span>
            Docker Security
            <i class="ion-android-remove fa-fw"></i></a>
        <div id="faq4" class="collapse" data-parent="#courses-list">

          <div class="row">
            <div class="col-md-7">
              <h5>tl;dr</h5>
              <p>
                  Docker has become a de-facto for running infrastructure.
                  But it has also resulted in new sets of security vulnerabilities. 
                  In this course, you
                  will learn from a seasoned security professional their
                  techniques to find Docker security weaknesses and how to
                  effectively fix them
              </p>
              <p>
                  The course will cover trending security misconfigurations
                  in Docker.
                  You will also learn what security checks you
                  need to put in place to develop secure Docker images or
                  safely use third-party images.
              </p>
              <h5>For who</h5>
              <p>
                  Software engineers, software testers, system administrators,
                  security champions, penetration testers and DevOps
              </p>
              <p>
                  <strong>Duration: </strong> 1 day
              </p>
              <a href="#faq" class="btn btn-primary" role="button">Register</a>
            </div>
            <div class="col-md-5">
              <h5>Syllabus</h5>
              <ol>
                  <li>Hello, World!: security assessment fundamental</li>
                  <li>Docker inSecurity</li>
                  <ol>
                      <li>Docker Hub security incidents</li>
                      <li>Docker Engine vulnerabilities</li>
                      <li>Docker orchestration platform issues</li>
                      <li>Docker insecure configurations</li>
                  </ol>
                  <li>Docker Insecure Configurations</li>
                  <ol>
                      <li>Privileged containers</li>
                      <li>Engine exposure</li>
                      <li>Secrets in Env</li>
                      <li>Unnecessary capabilities</li>
                      <li>Unknown images</li>
                      <li>Host network and process access</li>
                      <li>Privilege Escalation</li>
                  </ol> 
                  <li>Wrap-up: write a hardened Docker image</li>
              </ol>
            </div>
          </div>

        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq5" class="collapsed">

            <span class="fas fa-shield-alt fa-fw"></span>
            Application Security Testing
            <i class="ion-android-remove"></i></a>
        <div id="faq5" class="collapse" data-parent="#courses-list">

          <div class="row">
            <div class="col-md-7">
              <h5>tl;dr</h5>
              <p>
                  Application Security Testing or Penetration Testing
                  is technique that you can learn and perform
                  on your programs.
                  In this course you will learn from a seasoned security professional
                  his techniques to test any program in real-life.
              </p>
              <p>
                  The course will cover fundamentals of penetration testing,
                  how to developing misuse-cases, creating a threat model during
                  software design and hunting for modern security vulnerabilities.
              </p>
              <h5>For who</h5>
              <p>
                  Software engineers, testers, DevOps, system administrators,
                  security champions, penetration testers and 
                  whoever wants to assess their own
                  program like a security professional.
              </p>
              <p>
                  <strong>Duration: </strong> 1-2 days
              </p>
              <a href="#faq" class="btn btn-primary" role="button">Register</a>
            </div>
            <div class="col-md-5">
              <h5>Syllabus</h5>
              <ol>
                  <li>Hello, World!: Penetration Testing Lifecycle</li>
                  <li>Where to look for vulnerabilities</li>
                  <li>How to create misuse-cases and threat models</li>
                  <li>Identify and exploit vulnerabilities</li>
                  <ol>
                      <li>Session management</li>
                      <li>Output rendering</li>
                      <li>User experience (UX)</li>
                      <li>URL and file handling</li>
                      <li>Business logic</li>
                      <li>Second-order bugs</li>
                  </ol>
                  <li>Capture The Flag (CTF)</li>
              </ol>
            </div>
          </div>

        </div>
      </li>
    </ul>

  </div>
</section><!-- #courses -->

  {% include delivery.html %}
  {% include contact-form.html %}
  {% include meetup.html %}
 
</main>
