---
layout: default
active: True
---

<!--==========================
Intro Section
============================-->
<section id="intro" class="clearfix">
<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center">
    <div class="col-md-5 intro-info order-md-first order-last">
        <h2>Learn <span>Defensive Design</span> to build secure programs</h2>
      <div>
      </div>
    </div>

    <div class="col-md-7 intro-img order-md-last order-first">
        <img src="img/platform/security-test.png" alt="" class="img-fluid">
    </div>
  </div>

</div>
</section><!-- #intro -->

<main id="main">

<!--==========================
  Why Us Section
============================-->
<section id="why-us" class="wow fadeIn">
  <div class="container-fluid">

    <header class="section-header">
    </header>

    <div class="row">

      <div class="col-lg-5">
        <div class="why-us-img">
            <!--          <img src="img/why-us-img.png" alt="" class="img-fluid">-->
        </div>
      </div>

      <div class="col-lg-7">
        <div class="why-us-content">
          <h2>Hello,</h2>
          <h3>We are a specialised security training company.</h3>
          <h5>We teach software engineers defensive design principles 
              that implicitly address the software security.</h5>

              <h4>What we don't cover:</h4>
              <ul>
                <li><i class="ion-android-close"></i>
                  How to use hacking tools to become the next script-kiddie.</li>
                <li><i class="ion-android-close"></i>
                  Security vulnerability driven content that is not suitable for devs</li>
                <li><i class="ion-android-close"></i>
                  Outdated software vulnerabilities that may rarely happen(e.g. SQLi).</li>
                <li><i class="ion-android-close"></i>
                  Giving you a fish! 🐟</li>
              </ul>

              <h4>What you can expect:</h4>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i>
                    Learn defensive design patterns and secure coding principles</li>
                <li><i class="ion-android-checkmark-circle"></i>
                    Identifying insecure coding patterns and fixing them properly.</li>
                <li><i class="ion-android-checkmark-circle"></i>
                    Writing security unit tests to test security bugs and patches.</li>
                <li><i class="ion-android-checkmark-circle"></i>
                    Hands-on labs from real-world security incidents.</li>
                <li><i class="ion-android-checkmark-circle"></i>
                    Mastering how to fish for security bugs! 🎣 </li>
              </ul>

        </div>
      </div>
    </div>
  </div>

</section>


<!--==========================
  Portfolio Section
============================-->
<section id="portfolio" class="section-bg">
  <div class="container">

    <header class="section-header">
      <h3 class="section-title">Courses & Workshops</h3>
    </header>

    <!--<div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-java">Java</li>
          <li data-filter=".filter-dotnet">C#</li>
          <li data-filter=".filter-js">JavaScript</li>
          <li data-filter=".filter-iac">IaC</li>
          <li data-filter=".filter-generic">Generic</li>
        </ul>
      </div>
    </div>-->

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-java">
        <div class="portfolio-wrap">
          <h3 class="portfolio-icon"><i class="fab fa-java"></i></h3>
          <div class="portfolio-info">
            <h4><a href="/courses/#java">Defensive Programming in Java</a></h4>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-dotnet">
        <div class="portfolio-wrap">
          <h3 class="portfolio-icon"><i class="fab fa-microsoft"></i></h3>
          <div class="portfolio-info">
            <h4><a href="/courses/#csharp">Defensive Programming in C#</a></h4>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-js">
        <div class="portfolio-wrap">
          <h3 class="portfolio-icon"><i class="fab fa-js-square"></i></h3>
          <div class="portfolio-info">
            <h4><a href="/courses/#nodejs">Defensive Programming in JavaScript</a></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-iac">
        <div class="portfolio-wrap">
          <h3 class="portfolio-icon"><i class="fab fa-docker"></i></h3>
          <div class="portfolio-info">
            <h4><a href="/courses/#docker">Docker Security</a></h4>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-generic">
        <div class="portfolio-wrap">
          <h3 class="portfolio-icon"><i class="fas fa-shield-alt"></i></h3>
          <div class="portfolio-info">
            <h4><a href="/courses/#appsectesting">Application Security Testing</a></h4>
          </div>
        </div>
      </div>


    </div>

  </div>
</section><!-- #portfolio -->

  {% include delivery.html %}
  {% include meetup.html %}
  {% include twitter.html %}

</main>
