    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>In the Press</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="img/press/cio.png" alt="">
          <img src="img/press/computerworld.jpg" alt="">
          <img src="img/press/helpnetsecurity.jpg" alt="">
          <img src="img/press/insecure-magazine.jpg" alt="">
          <img src="img/press/the-australian.jpg" alt="">
          <img src="img/press/the-register.jpg" alt="">
        </div>

      </div>
    </section><!-- #clients -->
