<!--==========================
  Frequently Asked Questions Section
============================-->
<section id="faq">
  <div class="container">
    <header class="section-header">
        <p>
        {% if page.contact %}
            {{ page.contact | escape }}
        {% else %}
            Enter your details below and we will be in touch
            with more information.
        {% endif %}
        </p>
    </header>

    <div class="form">
      <form action="" method="post" role="form" class="contactForm">
        <div class="form-row">
          <div class="col">
            <input type="text" name="name" class="form-control form-control-lg" id="name" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation"></div>
          </div>
          <div class="col">
            <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validation"></div>
          </div>
          <div class="col">
            <button type="submit" title="Submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
            <div id="sendmessage">Thank you. We will be in touch shortly.</div>
            <div id="errormessage"></div>

          </div>
        </div>
      </form>
    </div>
  </div>
</section><!-- #faq -->
