    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Delivery</h3>
          <p></p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-people-outline" style="color: #ff689b;"></i></div>
              <h4 class="title">Classroom</h4>
              <p class="description">
                  Security is complex but not when you learn in the
                  right environment. Join
                  our popular classroom-based courses.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-videocam-outline" style="color: #e98e06;"></i></div>
              <h4 class="title">Online</h4>
              <p class="description">Are you interested in a specific
                  security topic? Join our online instructor-led workshops</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-code-working" style="color: #3fcdc7;"></i></div>
              <h4 class="title">Platform</h4>
              <p class="description">Busy and want to learn at your own pace?
                  Try our Security Training platform at any time.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

