<!--==========================
Footer
============================-->
<footer id="footer" class="section-bg">
<div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <img src="/img/logo.png" alt="" class="img-fluid">
                    <p>We are secure software engineering academy.
                        Our graduates across the globe,
                        no longer write security patch!
                        Instead, they design and implement defensive software
                        from ground-up.
                    </p>
                  </div>

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/courses">Courses</a></li>
                      <li><a href="/platform">Platform</a></li>
                      <li><a href="/about">About</a></li>
                    </ul>
                  </div>
                </div>

            </div>

          </div>

          <div class="col-lg-4">

            <div class="form">
<div class="footer-links">
                    <p>
                        Level 8, 11 York Street<br>
                        Sydney, NSW<br>
                        Australia<br>
                      <br>
                      <strong>hello@secdim.com</strong><br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="https://twitter.com/secdim" class="twitter"><i class="fab fa-twitter"></i></a>

                    <a href="https://meetup.com/sectalks" class="twitter"><i class="fab fa-meetup"></i></a>
                  </div>

                  
            </div>    
          </div>
        </div>
        <div class="row">
            <div class="footer-info">
                <p>SecDim&trade; is Security Dimension Pty Ltd trading name.
                   Defensive Programming&trade; is Security Dimension Pty Ltd trademark.
                   ABN 82 605 590 154, ACN 605 590 154.
                   All rights reserved.
                </p>
            </div>
        </div>
      </div>
    </div>

</footer><!-- #footer -->
<!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- I cannot believe you are reading this line! it is static dear OSINTer -->
