<!--==========================
Header
============================-->
<header id="header">

<div id="topbar">
  <div class="container">
  </div>
</div>

<div class="container">

  <div class="logo float-left">
    <!-- Uncomment below if you prefer to use an image logo -->
    <h1 class="text-light"><a href="#intro" class="scrollto"><span>Secdim</span></a></h1>
    <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
  </div>

  <nav class="main-nav float-right d-none d-lg-block">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/platform">Platform</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav><!-- .main-nav -->

</div>
</header><!-- #header -->
