<!--==========================
Header
============================-->

<header id="header">

<div id="topbar">

  <div class="container">
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Registration is open for <a href="https://www.eventbrite.com.au/e/defensive-programming-in-javascript-live-online-tickets-107204128434"><strong>Defensive Programming in JavaScript</strong></a> online bootcamp, 20-25th August, 2020.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  </div>
</div>

<div class="container">

  <div class="logo float-left">
    <!-- Uncomment below if you prefer to use an image logo -->
    <h1 class="text-light"><a href="#intro" class="scrollto"><span>Secdim</span></a></h1>
    <!--<a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
  </div>

  <nav class="main-nav float-right d-none d-lg-block">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/platform">Platform</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav><!-- .main-nav -->

</div>
</header><!-- #header -->
