<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="cta-title">Meet Your Instructors</h3>
        <p class="cta-text">
            Join hundreds others at SecTalks meetup
            to participate in hands-on workshops on builing
            secure programs.
            SecTalks is a multi-national technical security
            community that we have founded in 2013.
            </p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="https://meetup.com/sectalks">Join Meetup</a>
      </div>
    </div>

  </div>
</section><!-- #call-to-action -->

